@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap');
* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif !important;
  padding: 0;
  margin: 0;
}
